.custom-button {
    background-color: #17477E;
    color: white !important;
    text-transform: uppercase;
    margin-top: 5px;
}

h1 {
    font-size: 50px;
}

.table {
    text-align: center;
}

.label-select {
    font-size: 18px;
}

.custom-select {
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
}