<div class="branchOfficeSelection-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>
                <span class="cine">Cine</span>
                <span class="tec">TEC</span>
            </mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-label>Ubicacion</mat-label>
            <mat-select placeholder="Seleccionar ubicacion" class="custom-select"></mat-select>
            <mat-label>Sucursal</mat-label>
            <mat-select placeholder="Seleccionar sucursal" class="custom-select"></mat-select>
        </form>
    </mat-card>
</div>